:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-black);
  width: 100vw;
  margin: 0 auto;
  /* max-width: 600px; */
  touch-action: pan-y;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: fixed; */
  /* top: 0; */
  /* height: 35vh; */
  width: 100vw;
  padding-bottom: 15px;
  background: var(--color-black);
  z-index: 1;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5vh;
  background: var(--color-black);
}
.logodiv {
  width: 100%;
  background: var(--color-black);
  position: sticky;
  top: 0;
  text-align: center;
}
.logo {
  width: 100px;
  margin: 10px;
}

.logo:hover {
  cursor: pointer;
}

.cloth-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 5px 0;
  padding: 5px 0;
  position: sticky;
  top: 110px;
  background: var(--color-black);
}

.cloth-buttons div {
  height: 100%;
}

.cloth-buttons div img{
  height: 100%;
}

.cloth-buttons div img:hover {
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.items {
  width: 90vw;
  max-width: 450px;
  /* height: 60vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px 20vh;
  /* overflow: hidden; */
  -webkit-overflow-scrolling:touch;
  padding: 0 10px;
}

.items::-webkit-scrollbar{
  width:0.5rem;
}

.items::-webkit-scrollbar-track{
  background: rgba(255,255,255,0);
}

.items::-webkit-scrollbar-thumb {
  background: #fdb563;
  border-radius: 13px;
}

.item {
  width: 100%;
  height: 45px;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  transition: .2s ease;
}

.items .item:hover {
  transform: translate(-5px, -3px);
}

.itemImg {
  height: 40px;
  margin: 0 10px 0;
}

button {
  border: 0;
  outline: 1px;
  height: 25px;
  background: var(--color-black);
  margin: 2px;
  border-radius: 5px;
  color: var(--color-white);
}

button:hover {
  cursor: pointer;
}

.blue {
  border: 1px solid var(--color-blue);
}

.blue:hover {
  background: var(--color-blue);
}

.yellow {
  border: 1px solid  var(--color-yellow);
}


.yellow:hover {
  background: var(--color-yellow);
}

.pink {
  border: 1px solid var(--color-pink);
}

.pink:hover {
  background: var(--color-pink);
}
